.repositories {
  display: flex;
  flex-wrap: wrap;
}

.repo-card {
  margin: 10px;
  width: 40%;
}

.social {
  position: inherit;
  float: right;
}

.author {
  float: right;
}

img.avatar {
  height: 96px;
  width: 96px;
}
